---
layout: product

title: Brand Book
header: https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696399301/MJ%20Portafolio/BrandBook/Mariajos%C3%A9_Navarijo_-_Brandbook_Page_17.png
concept:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1727070435/MJ%20Portafolio/BrandBook/Diapos/Ai_-_Marca_personal-09.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1727070436/MJ%20Portafolio/BrandBook/Diapos/Ai_-_Marca_personal-10.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696399006/MJ%20Portafolio/BrandBook/Mariajos%C3%A9_Navarijo_-_Brandbook_Page_07.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696399278/MJ%20Portafolio/BrandBook/Mariajos%C3%A9_Navarijo_-_Brandbook_Page_08.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696399141/MJ%20Portafolio/BrandBook/Mariajos%C3%A9_Navarijo_-_Brandbook_Page_09.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1727070437/MJ%20Portafolio/BrandBook/Diapos/Ai_-_Marca_personal-11.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1727070438/MJ%20Portafolio/BrandBook/Diapos/Ai_-_Marca_personal-12.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1727070447/MJ%20Portafolio/BrandBook/Diapos/Ai_-_Marca_personal-19.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1727070439/MJ%20Portafolio/BrandBook/Diapos/Ai_-_Marca_personal-13.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1727070896/MJ%20Portafolio/BrandBook/Diapos/Ai_-_Marca_personal-14.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1727070442/MJ%20Portafolio/BrandBook/Diapos/Ai_-_Marca_personal-15.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1727070443/MJ%20Portafolio/BrandBook/Diapos/Ai_-_Marca_personal-16.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1727070445/MJ%20Portafolio/BrandBook/Diapos/Ai_-_Marca_personal-17.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696399832/MJ%20Portafolio/BrandBook/Botella.jpg


carousel:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696399235/MJ%20Portafolio/BrandBook/Mariajos%C3%A9_Navarijo_-_Brandbook_Page_45.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696399239/MJ%20Portafolio/BrandBook/Mariajos%C3%A9_Navarijo_-_Brandbook_Page_46.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696399243/MJ%20Portafolio/BrandBook/Mariajos%C3%A9_Navarijo_-_Brandbook_Page_47.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696399251/MJ%20Portafolio/BrandBook/Mariajos%C3%A9_Navarijo_-_Brandbook_Page_48.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696399259/MJ%20Portafolio/BrandBook/Mariajos%C3%A9_Navarijo_-_Brandbook_Page_49.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696399247/MJ%20Portafolio/BrandBook/Mariajos%C3%A9_Navarijo_-_Brandbook_Page_50.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696399255/MJ%20Portafolio/BrandBook/Mariajos%C3%A9_Navarijo_-_Brandbook_Page_53.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696399283/MJ%20Portafolio/BrandBook/Mariajos%C3%A9_Navarijo_-_Brandbook_Page_54.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696399287/MJ%20Portafolio/BrandBook/Mariajos%C3%A9_Navarijo_-_Brandbook_Page_56.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696399263/MJ%20Portafolio/BrandBook/Mariajos%C3%A9_Navarijo_-_Brandbook_Page_58.png


materials:
  - Illustrator
  - Photoshop
  - Sewing machinery


---

I want to share with you a glimpse into my philosophy of life. This brandbook represents an important part of my journey, a journey in which I have learned that not everything must conform to social conventions and what is considered 'right' according to the expectations of others.