---
layout: product

title: Corrector de postura
colaboration: Trabajado en conjunto con Paola Cabrera, Roberto Donis, Abner Coc, Mariajosé Navarijo
header: https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783633/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/test.133.jpg
concept:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653268968/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/Planos/Portada.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653268969/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/Planos/1.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653268969/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/Planos/2.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653268966/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/Planos/3.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653268971/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/Planos/4.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653268969/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/Planos/5.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653268967/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/Planos/6.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654730400/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/Planos/Medidas_generales.png

carousel:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783635/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/test.142.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783645/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/42.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783635/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/test.138.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783634/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/test.136.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783635/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/43.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783646/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/46.png

materials:
  - PLA (Ácido polilactico) negro
  - Algodón para la comodidad del brazo

---

Es un corrector portátil que busca **corregir y prevenir enfermedades** a futuro que puede llegar a adquirir **tras haber tenido una mala postura de la muñeca frente al computador**. Enfocado para personas que trabajan desde su casa. 
Pasa su mayor tiempo conectado en su computadora y se encuentra en un rango de edad de 20 a 35 años. 

<br />

El funcionamiento del producto se enfoca en abordar de manera indirecta, es decir, la ubicación del producto **se encuentra en el codo debido a que recibe el mayor presión del brazo y esto puede aligerar la tensión de los nervios que se puede generar directamente en la muñeca**. En cambio, si se resuelve el producto directamente desde la muñeca, en vez de cumplir el objetivo de mejorar la postura, se estará dañando. 

<br />

El producto se desarrolló con la tecnología de la impresora 3D. Para ver mayor variedad de color, pueden visitar el siguiente [link.](https://codepen.io/fnavarijo/full/GRvrOYm)