---
layout: product

title: Curvas
colaboration: Trabajo en conjunto con la firma de arquitectos Taller Acá 
header: https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648791353/MJ%20Portafolio/Mini%20parques/1.jpg

concept:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269603/MJ%20Portafolio/Mini%20parques/Planos/1.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269604/MJ%20Portafolio/Mini%20parques/Planos/2.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654729852/MJ%20Portafolio/Mini%20parques/Planos/13.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654729853/MJ%20Portafolio/Mini%20parques/Planos/14.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654729853/MJ%20Portafolio/Mini%20parques/Planos/15.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269570/MJ%20Portafolio/Mini%20parques/Planos/3.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269597/MJ%20Portafolio/Mini%20parques/Planos/4.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269581/MJ%20Portafolio/Mini%20parques/Planos/5.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269585/MJ%20Portafolio/Mini%20parques/Planos/6.1.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269589/MJ%20Portafolio/Mini%20parques/Planos/7.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269593/MJ%20Portafolio/Mini%20parques/Planos/8.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269594/MJ%20Portafolio/Mini%20parques/Planos/9.png

carousel:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648791348/MJ%20Portafolio/Mini%20parques/5.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648791352/MJ%20Portafolio/Mini%20parques/2.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648791353/MJ%20Portafolio/Mini%20parques/1.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648791354/MJ%20Portafolio/Mini%20parques/4.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648791341/MJ%20Portafolio/Mini%20parques/3.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783690/MJ%20Portafolio/Mini%20parques/Im%C3%A1genes%20para%20portafolio/Parques_render_4.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783687/MJ%20Portafolio/Mini%20parques/Im%C3%A1genes%20para%20portafolio/Parques_render_5.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783686/MJ%20Portafolio/Mini%20parques/Im%C3%A1genes%20para%20portafolio/Parques_render_3.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783686/MJ%20Portafolio/Mini%20parques/Im%C3%A1genes%20para%20portafolio/Parques_render_2.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783676/MJ%20Portafolio/Mini%20parques/Im%C3%A1genes%20para%20portafolio/Parques_render_1.png

materials:
  - Pino tratado
  - Tornillos de cabeza para generar mayor seguridad en los ensambles.

---

El diseño del **parque recreativo está pensado en fabricarlo con materiales sostenibles** para el medio ambiente. El parque está **enfocado para niños de 7 a 14 años**. El concepto se basa en variar la elevación de cada forma para generar mayor variedad tanto en su trayectoria como en su altura. 

<br />
Su funcionamiento e interacción principal se enfoca en generar una experiencia durante toda la trayectoria cuando interactúan con todo el proyecto. La interacción que se busca es que los niños puedan habitarlo, caminar sobre él y en algunos casos generar una ligera escalada por causa de la variedad de la altura.

