---
layout: product

title: Curves
colaboration: Work in conjunction with the architectural firm Taller Acá
header: https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648791353/MJ%20Portafolio/Mini%20parques/1.jpg

concept:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696827689/MJ%20Portafolio/Mini%20parques/Ingles/1-01.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269604/MJ%20Portafolio/Mini%20parques/Planos/2.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696828045/MJ%20Portafolio/Mini%20parques/Ingles/9.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696828046/MJ%20Portafolio/Mini%20parques/Ingles/10.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696828047/MJ%20Portafolio/Mini%20parques/Ingles/11.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696832541/MJ%20Portafolio/Mini%20parques/Ingles/cATALOGO.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696827695/MJ%20Portafolio/Mini%20parques/Ingles/2.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696827683/MJ%20Portafolio/Mini%20parques/Ingles/3.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696827685/MJ%20Portafolio/Mini%20parques/Ingles/4.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696827694/MJ%20Portafolio/Mini%20parques/Ingles/5.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696827694/MJ%20Portafolio/Mini%20parques/Ingles/6.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696827691/MJ%20Portafolio/Mini%20parques/Ingles/7.png


carousel:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648791348/MJ%20Portafolio/Mini%20parques/5.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648791352/MJ%20Portafolio/Mini%20parques/2.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648791353/MJ%20Portafolio/Mini%20parques/1.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648791354/MJ%20Portafolio/Mini%20parques/4.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648791341/MJ%20Portafolio/Mini%20parques/3.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783690/MJ%20Portafolio/Mini%20parques/Im%C3%A1genes%20para%20portafolio/Parques_render_4.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783687/MJ%20Portafolio/Mini%20parques/Im%C3%A1genes%20para%20portafolio/Parques_render_5.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783686/MJ%20Portafolio/Mini%20parques/Im%C3%A1genes%20para%20portafolio/Parques_render_3.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783686/MJ%20Portafolio/Mini%20parques/Im%C3%A1genes%20para%20portafolio/Parques_render_2.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783676/MJ%20Portafolio/Mini%20parques/Im%C3%A1genes%20para%20portafolio/Parques_render_1.png

materials:
  - Treated pine
  - Head screws to generate greater security in the assemblies


---

The design of the playground focuses on the use of sustainable materials to preserve the environment. This park has been conceived with children between the ages of 7 and 14 years old in mind. The main concept is based on varying the elevation of the different structures, which provides greater diversity in both trajectories and heights.
<br />

The operation and the main experience is focused on children being able to fully interact with the park throughout their journey. It is intended that children can not only use it as a play space, but also walk through it and, in some cases, experience a slight climb due to the height variations it offers.


