---
layout: product

title: Food Design
header: https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648790377/MJ%20Portafolio/Food%20design/4.jpg

concept:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696827634/MJ%20Portafolio/Food%20design/Ingles/4.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696827642/MJ%20Portafolio/Food%20design/Ingles/3.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696827641/MJ%20Portafolio/Food%20design/Ingles/2.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269183/MJ%20Portafolio/Food%20design/Planos/4.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269183/MJ%20Portafolio/Food%20design/Planos/5.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696826917/MJ%20Portafolio/Food%20design/Ingles/1.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269195/MJ%20Portafolio/Food%20design/Planos/7.png

carousel:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648789061/MJ%20Portafolio/Food%20design/1.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648790378/MJ%20Portafolio/Food%20design/14.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648791515/MJ%20Portafolio/Food%20design/Food_design_2.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648790378/MJ%20Portafolio/Food%20design/13.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648790378/MJ%20Portafolio/Food%20design/10.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648790377/MJ%20Portafolio/Food%20design/5.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648790495/MJ%20Portafolio/Food%20design/15.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648790379/MJ%20Portafolio/Food%20design/3.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648790377/MJ%20Portafolio/Food%20design/4.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648790377/MJ%20Portafolio/Food%20design/8.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648790379/MJ%20Portafolio/Food%20design/9.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648790377/MJ%20Portafolio/Food%20design/6.jpg

materials:
  - Balloons (as first prototypes)
  - Straws
  - Flavored gelatin
  - Water

---


This initiative focuses on reducing the negative impact on the environment, focusing on the field of Food Design. The main objective was to design a container resistant to cold liquids, edible and digestible.
<br />

The concept is based on the philosophy of linear economy (produce - use - dispose). We sought to create a product that has a clear beginning and end, so that when someone finishes their drink, the container can complete its life cycle in two different ways.
<br />

First, the person can ingest it, as the cup is edible and has a coffee flavor.
<br />

Secondly, in case of disposal, the cup dissolves in hot water, thus avoiding the programmed obsolescence typical of single-use cups.
<br />

Due to its sensitivity to hot temperature, the resistance of the container decreases with use. Therefore, it is recommended to use it a maximum of two times to maintain its integrity. Container dimensions vary according to personal preference.

