---
layout: product

title: Gordian Knot
header: https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783650/MJ%20Portafolio/Nudo%20gordiano/Nudo_gordiano_2.1.jpg

concept:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696830024/MJ%20Portafolio/Nudo%20gordiano/Ingles/1.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696830008/MJ%20Portafolio/Nudo%20gordiano/Ingles/2.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696830005/MJ%20Portafolio/Nudo%20gordiano/Ingles/3.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696830015/MJ%20Portafolio/Nudo%20gordiano/Ingles/4.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696830019/MJ%20Portafolio/Nudo%20gordiano/Ingles/5.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269403/MJ%20Portafolio/Nudo%20gordiano/Planos/6.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269402/MJ%20Portafolio/Nudo%20gordiano/Planos/7.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696830011/MJ%20Portafolio/Nudo%20gordiano/Ingles/6.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654047281/MJ%20Portafolio/Nudo%20gordiano/Planos/9.png


carousel:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654729437/MJ%20Portafolio/Nudo%20gordiano/Galeria/2.jpg 
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654729640/MJ%20Portafolio/Nudo%20gordiano/Galeria/3.jpg 
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654729437/MJ%20Portafolio/Nudo%20gordiano/Galeria/4.jpg 
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1727064406/MJ%20Portafolio/Nudo%20gordiano/Consutrccion/1.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1727064406/MJ%20Portafolio/Nudo%20gordiano/Consutrccion/2.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1727064408/MJ%20Portafolio/Nudo%20gordiano/Consutrccion/3.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1727064405/MJ%20Portafolio/Nudo%20gordiano/Consutrccion/4.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1727064405/MJ%20Portafolio/Nudo%20gordiano/Consutrccion/5.jpg


materials:
  - 3mm MDF
---

This design is inspired by a childhood memory and is based on the concept of emotional design. Its objective is to transform a 2D puzzle into a three-dimensional product, aimed at people who like to assemble puzzles.
<br />

Its operation is based on the interconnection that can be achieved between the pieces thanks to the flexibility of the cutting system. Laser cutting technology was used for its creation.

