---
layout: product

title: Lumini
header: https://res.cloudinary.com/dkvtpo8w1/image/upload/v1652984211/MJ%20Portafolio/Lumini/2.jpg
concept:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654056398/MJ%20Portafolio/Lumini/Planos/1.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654056399/MJ%20Portafolio/Lumini/Planos/2.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654056398/MJ%20Portafolio/Lumini/Planos/3.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654056396/MJ%20Portafolio/Lumini/Planos/4.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1652984211/MJ%20Portafolio/Lumini/5.jpg

carousel:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1652984211/MJ%20Portafolio/Lumini/5.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1652984212/MJ%20Portafolio/Lumini/4.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1652984211/MJ%20Portafolio/Lumini/3.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1652984211/MJ%20Portafolio/Lumini/2.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1652984211/MJ%20Portafolio/Lumini/1.jpg

materials: Madera, tipo pino y foco con su alambre y conexión.
---

Luminaria basada en el concepto de DIY (Do it yourself). Se buscó principalmente ser un diseño enfocado en ser planos seriados y sin ningún ensamble fijo para cumplir con la teoría de DIY. Está enfocado para aquellas personas que les gusta armar sus propios productos. Su funcionamiento e interacción se basa en unir todas las piezas con base a la orientación que da la base de la lámpara.
