---
layout: product

title: Lumini
header: https://res.cloudinary.com/dkvtpo8w1/image/upload/v1652984211/MJ%20Portafolio/Lumini/2.jpg
concept:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654056398/MJ%20Portafolio/Lumini/Planos/1.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654056399/MJ%20Portafolio/Lumini/Planos/2.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654056398/MJ%20Portafolio/Lumini/Planos/3.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654056396/MJ%20Portafolio/Lumini/Planos/4.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1652984211/MJ%20Portafolio/Lumini/5.jpg

carousel:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1652984211/MJ%20Portafolio/Lumini/5.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1652984212/MJ%20Portafolio/Lumini/4.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1652984211/MJ%20Portafolio/Lumini/3.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1652984211/MJ%20Portafolio/Lumini/2.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1652984211/MJ%20Portafolio/Lumini/1.jpg

materials:
  - Wood, pine type
  - Spotlight with wire and connection


---

This luminaire is based on the DIY concept. Our design focuses on offering serialized plans and without any fixed assembly, thus complying with the DIY philosophy.
<br />

It is aimed at people who enjoy assembling their own products. Its operation and interaction consist of assembling all the pieces following the instructions provided by the lamp base."
