---
layout: product

title: Nudo Gordiano
header: https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783650/MJ%20Portafolio/Nudo%20gordiano/Nudo_gordiano_2.1.jpg

concept:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269404/MJ%20Portafolio/Nudo%20gordiano/Planos/1.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269380/MJ%20Portafolio/Nudo%20gordiano/Planos/2.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269382/MJ%20Portafolio/Nudo%20gordiano/Planos/3.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269384/MJ%20Portafolio/Nudo%20gordiano/Planos/4.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269378/MJ%20Portafolio/Nudo%20gordiano/Planos/5.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269403/MJ%20Portafolio/Nudo%20gordiano/Planos/6.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269402/MJ%20Portafolio/Nudo%20gordiano/Planos/7.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269378/MJ%20Portafolio/Nudo%20gordiano/Planos/8.png
  # - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653269377/MJ%20Portafolio/Nudo%20gordiano/Planos/9.png

carousel:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654729432/MJ%20Portafolio/Nudo%20gordiano/Galeria/1.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654729437/MJ%20Portafolio/Nudo%20gordiano/Galeria/2.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654729640/MJ%20Portafolio/Nudo%20gordiano/Galeria/3.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654729437/MJ%20Portafolio/Nudo%20gordiano/Galeria/4.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654729430/MJ%20Portafolio/Nudo%20gordiano/Galeria/5.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654729430/MJ%20Portafolio/Nudo%20gordiano/Galeria/6.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654729432/MJ%20Portafolio/Nudo%20gordiano/Galeria/7.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654729431/MJ%20Portafolio/Nudo%20gordiano/Galeria/8.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654729431/MJ%20Portafolio/Nudo%20gordiano/Galeria/9.jpg


materials:
  - MDF de 3mm
---

Está inspirado en un **recuerdo de infancia** que en términos de concepto hace referencia al **diseño emocional**. Este busca **convertir un rompecabezas 2D en un producto 3D**. Se enfoca para aquellas personas que les gusta armar rompecabezas.

<br />

Su **funcionamiento se basa en** la interconexión que puede existir entre las piezas a través de **la flexibilidad que se puede generar el sistema de corte**. Se usó tecnología de corte láser para generar el diseño.
