---
layout: product

title: Posture Corrector
colaboration: Worked in conjunction with Paola Cabrera, Roberto Donis, Abner Coc, Mariajosé Navarijo
header: https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783633/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/test.133.jpg
concept:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696828902/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Ingles/1.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696828880/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Ingles/2.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653268969/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/Planos/2.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653268966/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/Planos/3.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653268971/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/Planos/4.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653268969/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/Planos/5.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1653268967/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/Planos/6.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1696828905/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Ingles/3.jpg


carousel:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783635/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/test.142.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783645/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/42.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783635/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/test.138.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783634/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/test.136.jpg
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783635/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/43.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783646/MJ%20Portafolio/Corrector%20de%20mu%C3%B1eca/Fotos%20para%20portafolio/46.png

materials:
  - PLA (Polylactic Acid) black
  - Cotton for arm comfort


---

This is a portable brace designed to correct and prevent future health problems that may arise due to poor wrist posture when working at the computer. It is especially aimed at people who work from home and spend most of their time at the computer, between the ages of 20 and 35.
<br />

The operation of this product focuses on indirectly addressing the problem. It is placed at the elbow, as this area experiences the most pressure on the arm, which can relieve the stress on the nerves that directly affects the wrist. Rather than focusing directly on the wrist, which could worsen posture, this approach seeks to improve it.
<br />

3D printing technology was used to manufacture this product. If you would like to see more color options, please visit the following [link.](https://codepen.io/fnavarijo/full/GRvrOYm)
<br />
