---
layout: product

title: Tulio
header: https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783636/MJ%20Portafolio/L%C3%A1mpara%20Tulio/Modelo_1.png
concept:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654045878/MJ%20Portafolio/L%C3%A1mpara%20Tulio/Proceso%20creativo/1.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654045879/MJ%20Portafolio/L%C3%A1mpara%20Tulio/Proceso%20creativo/2.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654045876/MJ%20Portafolio/L%C3%A1mpara%20Tulio/Proceso%20creativo/3.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654045875/MJ%20Portafolio/L%C3%A1mpara%20Tulio/Proceso%20creativo/4.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654045875/MJ%20Portafolio/L%C3%A1mpara%20Tulio/Proceso%20creativo/5.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654045875/MJ%20Portafolio/L%C3%A1mpara%20Tulio/Proceso%20creativo/6.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654045875/MJ%20Portafolio/L%C3%A1mpara%20Tulio/Proceso%20creativo/7.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654045875/MJ%20Portafolio/L%C3%A1mpara%20Tulio/Proceso%20creativo/8.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1654045879/MJ%20Portafolio/L%C3%A1mpara%20Tulio/Proceso%20creativo/9.png

carousel:
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783636/MJ%20Portafolio/L%C3%A1mpara%20Tulio/L%C3%A1mpara.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783636/MJ%20Portafolio/L%C3%A1mpara%20Tulio/Modelo_1.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783637/MJ%20Portafolio/L%C3%A1mpara%20Tulio/modelo_3.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783635/MJ%20Portafolio/L%C3%A1mpara%20Tulio/Final.png
  - https://res.cloudinary.com/dkvtpo8w1/image/upload/v1648783637/MJ%20Portafolio/L%C3%A1mpara%20Tulio/modelo_2.png

materials:
  - Wood, walnut type
  - Sensors
  - LED light
  - Portable battery.


---

This luminaire is inspired by nature, in particular the shell of the turtle. The intention is to capture the essential characteristics of the turtle and transform them into functional attributes. The product is conceived as a lightweight tactile lamp for ease of transport and to serve as a decorative element.
<br />

Its main function is decorative and can be placed on tables, on the floor or in any space that requires a decorative touch.
